ul
{
    list-style-type: none;
}
.thumbnail {
    /*max-height: 150px;*/
    /*max-width: 150px;*/
}
.upload-form {
    margin-top: 2em;
}

.list-item {
    margin-right: 1.5em;
    margin-top: 1.5em;
}
.image-with-controls {
    position: relative;
}
.controls {
    right:0;
    top:0;
    position: absolute;

}

.pin-photo {
    display: none;
}

.control-photo {
    display: none;
}

.control-photo + input[type=checkbox]:checked {
    display: inline;
}

.image-with-controls:hover .control-photo {
    display: inline;
}

.image-with-controls:hover .pin-photo {
    display: inline;
}

.list-item img {
    max-height: 200px;
    height: 200px;
}

.image-form {
    margin-top: 2em;
}

.full-img {
    max-width: 100%;
    max-height: 100%;
}

.search {
    margin-top: 8px;
    width: 400px;
}